.custom-navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: none; // 导航栏背景色
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1); // 阴影效果
  display: flex;
  align-items: center;
}

.title-box {
  flex: 1;
  min-width: 120rpx;
  max-width: 60vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.title-text {
  font-size: 34rpx;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
}

.icon {
  width: 40rpx;
  height: 40rpx;
  min-width: 20rpx;
  min-height: 20rpx;
}

.nav-content {
  display: flex;
  align-items: center;
  gap: 50px;
  position: relative;
}

.left-buttons {
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 10rpx;
}

.nav-btn {
  padding: 0 20rpx;
  display: flex;
  align-items: center;
  height: 100%;
}
